@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 300;
  src: local("Hind Light"), url("../fonts/hind-v7-latin-300.woff2") format("woff2"), url("../fonts/hind-v7-latin-300.woff") format("woff");
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local("Hind Regular"), url("../fonts/hind-v7-latin-regular.woff2") format("woff2"), url("../fonts/hind-v7-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  src: local("Hind Medium"), url("../fonts/hind-v7-latin-500.woff2") format("woff2"), url("../fonts/hind-v7-latin-500.woff") format("woff");
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: local("Hind SemiBold"), url("../fonts/hind-v7-latin-600.woff2") format("woff2"), url("../fonts/hind-v7-latin-600.woff") format("woff");
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local("Hind Bold"), url("../fonts/hind-v7-latin-700.woff2") format("woff2"), url("../fonts/hind-v7-latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local("Dancing Script Regular"), url("../fonts/dancing-script-v8-latin-regular.woff2") format("woff2"), url("../fonts/dancing-script-v8-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  src: local("Dancing Script Bold"), url("../fonts/dancing-script-v8-latin-700.woff2") format("woff2"), url("../fonts/dancing-script-v8-latin-700.woff") format("woff");
}

.header__content, .nav__content, .about__content, .skills__content, .exp__content, .letter__content, .footer__content {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.nav__content, .about__text, .skills__text, .feed__inner-wrapper, .footer__text {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.header__content, .skills__features {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

h2, .header__hero, .nav__link, .button_up {
  text-transform: uppercase;
}

.header__hero, .header__hero-description, .letter__content {
  z-index: 2;
}

.nav__responsive-mnu, .skills__container-item {
  display: none;
}

.owl-dot, .owl-dot.active span, .owl-prev,
.owl-next, .nav, .nav__link:before, .nav__logo-link, .nav__lines, .button_up, .skills__link, .skills__container-description, .exp__img-description {
  -webkit-transition: width .5s, color .5s, background-color .5s, opacity .5s, -webkit-transform .5s;
  transition: width .5s, color .5s, background-color .5s, opacity .5s, -webkit-transform .5s;
  -o-transition: width .5s, color .5s, background-color .5s, opacity .5s, transform .5s;
  transition: width .5s, color .5s, background-color .5s, opacity .5s, transform .5s;
  transition: width .5s, color .5s, background-color .5s, opacity .5s, transform .5s, -webkit-transform .5s;
}

.about, .skills, .exp, .letter {
  padding: 60px 0;
}

.about__personal-information, .about__my-photo, .about__additional-information, .skills__description, .feed__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}

.header__hero, .header__hero-description, .img__header-description, .img__text-description {
  text-align: center;
  text-shadow: 0 -1px 1px black;
}

@media (max-width: 1190px) {
  .about, .skills, .exp, .letter {
    padding: 60px 30px;
  }
}

@media (max-width: 599px) {
  .about, .skills, .exp, .letter {
    padding: 30px 30px;
  }
}

* {
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  color: #515769;
}

body, em, h1, h2, h3, h4, h5, h6, li, li a, p, span {
  font-family: Hind, sans-serif;
}

h2 {
  border-bottom: 1px solid silver;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 509px) {
  body {
    font-size: 13px;
  }
}

.owl-prev,
.owl-next {
  color: #fff;
  font-size: 3em;
}

.owl-dots {
  text-align: center;
}

.owl-dot {
  border: 1px solid #515769;
  border-radius: 50%;
}

.owl-dot.active span {
  background: #17bed2;
  border-radius: 50%;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #515769;
}

.owl-prev:hover,
.owl-next:hover {
  color: #17bed2;
}

.owl-prev {
  left: -35px;
}

.owl-next {
  right: -35px;
}

.owl-dots {
  height: 30px;
  padding-top: 10px;
}

.owl-dot {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.owl-dot.active {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.owl-dot.active span {
  position: absolute;
  top: 1px;
  left: 1px;
  display: inline-block;
  width: 8px;
  height: 8px;
}

@media (max-width: 1245px) {
  .owl-prev,
  .owl-next {
    display: none;
  }
}

.header {
  overflow: hidden;
  background-image: url(../img/bg-big.jpg);
  background-size: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/header/bg-big.jpg) 0/cover fixed;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header/bg-big.jpg) 0/cover fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header/bg-big.jpg) 0/cover fixed;
}

.header__content {
  color: #fff;
}

.header__hero {
  font-size: 4.5em;
}

@media (max-width: 420px) {
  .header {
    background-image: url(../img/header/bg-big.jpg);
    background-size: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/header/bg-small.jpg) 0/cover fixed;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header/bg-small.jpg) 0/cover fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header/bg-small.jpg) 0/cover fixed;
  }
  .header__hero {
    font-size: 3.5em;
  }
}

@media (max-width: 379px) {
  .header__hero-description {
    font-size: 1.8em;
  }
}

@media (max-width: 340px) {
  .header__hero-description {
    font-size: 1.6em;
  }
}

.header {
  min-height: 500px;
}

.header__content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .header:before {
    display: none;
  }
}

.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 999;
}

.nav__link {
  font-weight: 600;
  color: #fff;
}

.nav__link:link, .nav__link:visited {
  color: #fff;
}

.nav__link:before {
  background-color: #17bed2;
  opacity: 0;
}

.nav__link:hover:before {
  opacity: 1;
}

.nav__logo-link {
  font-size: 1.8em;
  font-family: "Dancing Script", sans-serif;
  color: #fff;
}

.nav__logo-link:link, .nav__logo-link:visited {
  color: #fff;
}

.nav__logo-link:hover {
  color: #17bed2;
}

.nav__lines {
  background-color: #fff;
}

.nav_collapse {
  background-color: #fff;
  border-bottom-color: #f0f0f0;
}

.nav_collapse .nav__link {
  color: #515769;
}

.nav_collapse .nav__link:link, .nav_collapse .nav__link:visited {
  color: #515769;
}

.nav_collapse .nav__logo-link {
  color: #515769;
}

.nav_collapse .nav__logo-link:link, .nav_collapse .nav__logo-link:visited {
  color: #515769;
}

.nav_collapse .nav__logo-link:hover {
  color: #17bed2;
}

.nav_collapse .nav__logo-link:hover:link, .nav_collapse .nav__logo-link:hover:visited {
  color: #17bed2;
}

@media (max-width: 729px) {
  .nav {
    background-color: #fff;
    border-bottom-color: #f0f0f0;
  }
  .nav__link {
    font-size: 1.3em;
    color: #515769;
  }
  .nav__link:link, .nav__link:visited {
    color: #515769;
  }
  .nav__lines {
    background-color: #515769;
  }
  .nav__logo-link {
    color: #515769;
  }
  .nav__logo-link:link, .nav__logo-link:visited {
    color: #515769;
  }
  .nav__list {
    border-top: 1px solid silver;
  }
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav__content {
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  display: inline-block;
}

.nav__item + .nav__item {
  margin-left: 25px;
}

.nav__link {
  position: relative;
}

.nav__link:before {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  left: -15px;
  width: 10px;
  height: 3px;
}

.nav__responsive-mnu {
  width: 30px;
}

.nav__top-line {
  width: 33%;
  height: 1px;
}

.nav__middle-line {
  width: 66%;
  height: 1px;
}

.nav__bottom-line {
  width: 100%;
  height: 1px;
}

.nav__lines {
  margin-bottom: 4px;
}

.nav__lines_active {
  width: 100%;
  height: 1px;
}

@media (max-width: 729px) {
  .nav__responsive-mnu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .nav__list {
    display: none;
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 5px;
  }
  .nav__item {
    display: block;
    margin-top: 5px;
  }
  .nav__item + .nav__item {
    margin-left: 0;
  }
}

.button__link {
  display: block;
  padding: 10px;
}

.button_up {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
}

.btn_form {
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  border: 3px solid #fff;
  color: #515769;
}

.btn_form:hover {
  color: #fff;
  background: #515769;
}

.button__link {
  color: #fff;
}

.button__link:link, .button__link:visited {
  color: #fff;
}

.button_up {
  font-weight: 400;
  letter-spacing: 1px;
  background: #515769;
  border-radius: 3px;
  opacity: 0.5;
}

.button_up:hover {
  opacity: 1;
}

.about {
  background-color: #fff;
}

.about__social-image {
  font-size: 1.8em;
  color: #17bed2;
}

.about__social-image:hover {
  text-shadow: 0px 1px black;
}

.about__my-photo {
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 4px -4px black;
          box-shadow: 0px 8px 4px -4px black;
}

.about__image {
  border-radius: 10px;
}

@media (max-width: 769px) {
  .about__my-photo {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.about {
  display: block;
}

.about__personal-information {
  margin-right: 10px;
}

.about__my-photo {
  -ms-flex-preferred-size: 280px;
      flex-basis: 280px;
  max-height: 370px;
  margin-right: 25px;
}

.about__image {
  width: 100%;
  height: 100%;
}

.about__social-icons {
  padding-top: 15px;
}

.about__social-item {
  display: inline-block;
}

.about__social-item + .about__social-item {
  margin-left: 5px;
}

@media (max-width: 599px) {
  .about__personal-information {
    margin-bottom: 10px;
  }
}

.skills {
  background-color: #fafafa;
}

.skills__description-header {
  text-align: left;
}

.skills__link {
  text-align: center;
  font-weight: 600;
  color: #fff;
  background-color: #515769;
}

.skills__link:hover {
  background-color: #17bed2;
}

.skills__container-description {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #515769;
  background-color: #fff;
}

.skills__container-description:hover {
  opacity: .5;
  cursor: pointer;
}

.skills__container-item {
  border-radius: 0 0 4px 4px;
}

.skills__container-description_active {
  color: #fff;
  background-color: #17bed2;
  border-radius: 4px 4px 0 0;
}

.skills__container-description_active + .skills__container-item {
  background-color: #17bed2;
  color: #fff;
}

@media (max-width: 729px) {
  .skills__container-description:hover {
    opacity: 1;
  }
}

.skills {
  display: block;
}

.skills__description {
  margin-right: 15px;
}

.skills__description-header {
  margin-bottom: 0;
}

.skills__features {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 250px;
          flex: 2 1 250px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.skills__container {
  width: 70%;
  margin-bottom: 10px;
}

.skills__link {
  display: block;
  max-width: 130px;
  padding: 15px 20px;
  margin-bottom: 1.5em;
}

.skills__container-description {
  padding: 20px;
  margin: 0;
}

.skills__container-item {
  position: relative;
  padding: 20px;
  margin: 0;
}

@media (max-width: 1000px) {
  .skills__features {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 890px) {
  .skills__container {
    width: 100%;
  }
}

.exp__img-description {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.exp__img-container:hover .exp__img-description {
  opacity: 1;
}

.img__header-description {
  color: #fff;
  font-size: 1.2em;
}

.img__text-description {
  color: #fff;
}

.exp__git-link {
  font-size: 1.3em;
}

.exp {
  display: block;
}

.exp__img-description {
  width: 100%;
}

.exp__img-container {
  position: relative;
}

.exp__img-container:hover .exp__img-description {
  opacity: 1;
}

.exp__img-description {
  position: absolute;
  left: 0;
  bottom: 0;
}

.letter {
  background-image: url(../img/letter/bg-letter.jpg);
  background-size: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/letter/bg-letter.jpg) 0/cover fixed;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/letter/bg-letter.jpg) 0/cover fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/letter/bg-letter.jpg) 0/cover fixed;
}

.letter__content {
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  color: #fff;
  -webkit-box-shadow: 0 0 1px 2px white;
          box-shadow: 0 0 1px 2px white;
  border-radius: 10px;
}

.letter__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/letter/bg-letter.jpg) 0/cover fixed;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/letter/bg-letter.jpg) 0/cover fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/letter/bg-letter.jpg) 0/cover fixed;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
}

.letter__text {
  font-size: 1.2em;
}

@media (max-width: 410px) {
  .letter__content {
    color: #515769;
  }
  .letter__content:before {
    display: none;
  }
}

.letter {
  display: block;
}

.letter__content {
  position: relative;
  padding: 20px 40px;
}

.letter__content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -30px;
}

@media (max-width: 410px) {
  .letter {
    padding: 20px 10px;
  }
  .letter__content {
    padding: 5px 10px;
  }
}

.feed__form-name,
.feed__form-email,
.feed__form-message {
  padding: 10px;
  font-size: 1.2em;
  min-width: 500px;
  font-family: "Dancing Script", sans-serif;
}

.feed__form-name:focus,
.feed__form-email:focus,
.feed__form-message:focus {
  -webkit-box-shadow: 0 0 1px 1px #515769;
          box-shadow: 0 0 1px 1px #515769;
}

.feed__form-message {
  height: 200px;
}

.feed {
  display: block;
}

.feed__content {
  padding: 60px;
}

.feed__img {
  max-width: 100%;
}

.feed__img-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  max-width: 950px;
  padding: 60px;
}

.feed__header {
  margin-top: 0;
  line-height: 1;
}

@media (max-width: 1300px) {
  .feed__form-name,
  .feed__form-email,
  .feed__form-message {
    min-width: 100px;
  }
  .feed__form-message {
    height: 100px;
  }
}

@media (max-width: 1129px) {
  .feed__inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feed__form-name,
  .feed__form-email,
  .feed__form-message {
    min-width: 250px;
  }
  .feed__content,
  .feed__img-container {
    padding: 20px 60px;
  }
}

@media (max-width: 500px) {
  .feed__inner-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
  }
  .feed__img-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
  }
  .feed__img {
    height: 150px;
    min-width: 250px;
  }
  .feed__content,
  .feed__img-container {
    padding: 30px 5px 0;
  }
}

.footer {
  background-color: #fafafa;
  border-top: 1px solid #f0f0f0;
}

.footer {
  display: block;
}

.footer__content {
  padding: 30px;
}

.footer__text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
