//--------------
//     BLOCK
//--------------

//--------------
//     ELEMENTS
//--------------
.button__link
  display: block
  padding: 10px

//--------------
//     MODIFICATIONS
//--------------
.button_up
  display: none
  @include position(fixed, null, null, 10px, 10px)
